// === COMMON ===
html {
    width: auto;
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    &.locked {
        overflow: hidden;
    }
}

body {
    // background-color: $white;
}

.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto; 
    padding-right: $container-padding;
    padding-left: $container-padding;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
