// === COMMON ===
body {
    @include scrollbar();
    background-color: $white;
    
    &.locked {
        overflow: hidden;
    }
}

* {
	scrollbar-color: $primary #fff; /*Цвет скролла, цвет ползунка*/
	scrollbar-width: thin; /*Толщина скролла thin, auto*/
}

.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto; 
    padding-right: $container-padding;
    padding-left: $container-padding;
}
