// === COLORS ===
$main-bg: #eeebf5;

$primary: #7e56da;
$primary-hover: #9173da;
$primary-50: #7e56da80;

$white: #fff;
$dark: #232D42;
$dark-hover: #393e49;

$grey-1: #757575;
$grey-2: #e0e0e0;

$success: #1aa053;
$success-hover: #4ca572;
$danger: #c03221;
$danger-hover: #c24e41;
$warning: #f16a1b;
$warning-hover: #ee8142;
$info: #079aa2;
$info-hover: #3b9ea3;
$secondary: #6c757d;
$secondary-hover: #7f8183;
$light: #dee2e6;
$light-hover: #cfd2d8;

$shadow-primary: 0px 2px 4px rgba(58, 87, 232, 0.3);
$shadow-success: 0px 2px 4px rgba(26, 160, 83, 0.3);
$shadow-danger: 0px 2px 4px rgba(192, 50, 33, 0.3);
$shadow-warning: 0px 2px 4px rgba(241, 106, 27, 0.3);
$shadow-info: 0px 2px 4px rgba(7, 154, 162, 0.3);
$shadow-secondary: 0px 2px 4px rgba(108, 117, 125, 0.3);
$shadow-light: 0px 2px 4px rgba(222, 226, 230, 0.3);
$shadow-dark: 0px 2px 4px rgba(33, 37, 41, 0.3);