// === COLORS ===
$main-bg: #eeebf5;

$primary: #7e56da;
$primary-hover: #9173da;
$primary-50: #7e56da80;
$primary-20: #7e56da33;

$white: #fff;
$dark: #232D42;
$dark-hover: #393e49;

$grey-1: #6d7383;
$grey-2: #e0e0e0;

$success: #1aa053;
$success-hover: #4ca572;
$danger: #c03221;
$danger-hover: #c24e41;
$warning: #f16a1b;
$warning-hover: #ee8142;
$info: #079aa2;
$info-hover: #3b9ea3;
$secondary: #6c757d;
$secondary-hover: #7f8183;
$light: #dee2e6;
$light-hover: #cfd2d8;
